stages:
  - build
  - test
  - security
  - deploy

build_job:
  stage: build
  image: php:8.1
  script:
    - echo "Building the project..."
    - composer install

test_job:
  stage: test
  image: php:8.1
  script:
    - echo "Running tests..."
    - ./vendor/bin/phpunit

security_job:
  stage: security
  image: php:8.1
  script:
    - echo "Running security scans..."
    - composer audit

deploy_job:
  stage: deploy
  script:
    - echo "Deploying..."
