stages:
  - build
  - test
  - security
  - deploy

variables:
  DB_HOST: mysql
  DB_DATABASE: akaunting
  DB_USERNAME: root
  DB_PASSWORD: secret

services:
  - name: mysql:8.0
    alias: mysql
    command: ["--default-authentication-plugin=mysql_native_password"]

build_job:
  stage: build
  image: php:8.1
  script:
    - apt-get update && apt-get install -y unzip git
    - curl -sS https://getcomposer.org/installer | php
    - php composer.phar install

test_job:
  stage: test
  image: php:8.1
  script:
    - php vendor/bin/phpunit

security_job:
  stage: security
  image: php:8.1
  script:
    - composer audit

deploy_job:
  stage: deploy
  script:
    - echo "Deploying..."
